<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css"><title>Developer Skills</title>
  <title>Express To-Do</title>
</head>
<body>
  <h1>Developer Skills</h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <form 
          action="/skills/<%= skill._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
				<a href="/skills/<%= skill._id %>"><%= skill.name %></a> 
				- 
				<%= skill.aquired ? 'aquired' : 'not aquired' %>
			</li>
    <% }) %>
  </ul>
  <a href="/skills/new">Add Skill</a>
</body>
</html>